.hero-section {
  height: 812px;
  background-image: url('/img/hero/hero-mobile.png');
  background-repeat: repeat, no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  backdrop-filter: blur(100px);
  padding-top: 281px;
  padding-bottom: 32px;
}

.hero-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-title {
  font-family: 'InterTight', sans-serif;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

.last-line {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 4px;
}

.hero-social-list {
  display: flex;
  gap: 4px;
}

.hero-social-list-item {
  cursor: pointer;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-social-list-item:hover,
.hero-social-list-item:hover {
  cursor: pointer;
  border-color: #fafafa;
}

.hero-social-list-link {
  font-family: 'InterTight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: -0.28px;
}

.hero-address {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 178px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-email-link {
  font-family: 'InterTight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.28px;
}

.hero-address:hover,
.hero-address:hover {
  cursor: pointer;
  border-color: #fafafa;
}


@media screen and (min-resolution: 192dpi) and (min-width: 375px),
  screen and (min-resolution: 2dppx) and (min-width: 375px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 375px) {
  .hero-section {
    background-image: url('/img/hero/hero-mobile@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    height: 1024px;
    padding-top: 300px;
    background-image: url('/img/hero/hero-tablet@1x.png');
  }

  .hero-container {
    height: 100%;
  }

  .hero-title {
    font-size: 90px;
    letter-spacing: -2.7px;
  }

  .last-line {
    gap: 8px;
  }

  .hero-social-list {
    gap: 8px;
  }

  .hero-social-list-item {
    width: 55px;
    height: 55px;
  }

  .hero-social-list-link {
    font-size: 16px;
    letter-spacing: -0.32px;
  }

  .hero-address {
    width: 223px;
    height: 55px;
  }

  .hero-email-link {
    font-size: 16px;
    letter-spacing: -0.32px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 767px),
  screen and (min-resolution: 2dppx) and (min-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 767px) {
  .hero-section {
    background-image: url('/img/hero/hero-tablet@2x.png');
  }
}


@media screen and (min-width: 1440px) {
  .hero-section {
    height: 900px;
    background-image: url('/img/hero/hero-desktop@1x.png');
  }

  .hero-title {
    width: 1090px;

    margin: 0 auto;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1439px),
  screen and (min-resolution: 2dppx) and (min-width: 1439px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1439px) {
  .hero-section  {
    background-image: url('/img/hero/hero-desktop@2x.png');
  }
}



